{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "off",
        "no-constant-condition": "off",
        "no-useless-catch": "off",
        "eslint-disable-next-line": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "no-prototype-builtins": "off",
        "@typescript-eslint/ban-types": "off",
        "prefer-spread": "off",
        "@typescript-eslint/adjacent-overload-signatures": "off",
        "no-useless-escape": "off",
        "no-case-declarations": "off",
        "no-unsafe-finally": "off",
        "no-fallthrough": "off",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "prefer-const": "off",
        "no-var": "off"
    }
}
