name: Commit e PR - Principal

on:
  pull_request:
    branches: [ principal ]

jobs:
  testes-linguagem:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2-beta
      with:
        node-version: '16'
    - name: NPM - Dependências
      run: |
        sudo npm install
    - name: Testes da Linguagem
      run: |
        sudo chmod +x ./bin/delegua-ts
        sudo npm run testes
        sudo npm run testes:delegua:bhaskara
        sudo npm run testes:delegua:fibonacci

  testes-unitarios:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2-beta
      with:
        node-version: '16'
    - name: NPM - Dependências
      run: |
        sudo npm install
    - name: Testes unitários
      run: |
        sudo npm run testes-unitarios
